body {
    background-image: url("https://images8.alphacoders.com/721/721311.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pfp {
    border-radius: 50%;
    transition: all 2s ease
}
.pfp:hover{
    transform: scale(1.1);
    border-radius: 15%;
}
.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 25px;
    padding: 15px;
    height: auto;
    width: 600px;
    backdrop-filter: blur(7px);
    box-shadow:0 3px 50px rgb(0, 0, 0, 0.5)
}
a{
    text-decoration: none;
    color: black;
}
.ffl {
    display:flex;
    justify-content: space-evenly;
    width:80%;
}
.ind {
    display: inline-block;
    background-color: white;
    padding:10px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    transition: all 0.2s ease;
}
.ind:hover{
    transform:scale(1.01);
}
.vids {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}
.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(3, 3, 3);
    border-radius: 10px;
    width: 200px;
    height: 250px;
    margin: 15px ;
    font-size: 40px;
    transition: all 0.4s ease;
}
.videos:hover {
    transform: scale(1.05)
}
