body {
    background-image: url("https://images8.alphacoders.com/721/721311.jpg");
    color:white;
    font-family: Roboto Mono;
}
.main-box {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.3);
    width:450px;
    height: 400px;
    border-radius: 25px;
    margin: 200px;
}
.inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px
}
a {
    text-decoration: none;
    color:white;
}
.ind {
    background-color: rgb(128, 128, 128, 0.3);
    border-radius: 25px;
    width: 250px;
    height: 30px;
    padding: 10px;

}
.ind::placeholder {
    color: white;
}
.Loginbtn {
    background-color: rgb(128, 128, 128, 0.7);
    border-radius: 15px;
    width: 100px;
    padding:10px;
    text-align: center;
}
.fp {
    font-size: 20px;
    margin:15px
}
