body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: cursive;
    background: linear-gradient(to bottom right , #403F44, #1e1b32);
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
.main-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    background: linear-gradient(to bottom right , #403F44, #1e1b32);
    border: 2px solid black;
    border-radius: 10px;
    margin:20px auto;
    width: 500px;
    height: 510px;
    transition: all 0.3s ease;
    font-size: 20px;
}
.all-levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 350px;
    border-radius: 15px;
    height:305px;
    padding: 15px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.levels {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    width: 80px;
    height: 70px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.1);
    transition: all 0.2s ease;
}
.levels:hover {
     box-shadow: 0 0 5px #33CCFC;
     transform:scale(1.1);
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: snow;
    color: black;
    border: 2px solid black;
    width: 100px;
    padding:5px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.btns {
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn:hover {
     box-shadow: 0 0 5px #33CCFC;
}
.navbar {
    display: flex;
    margin: 0px auto;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(to bottom right , #403F44, #1e1b32);
    font-family: cursive;
    width: 600px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
    height: 40px;
}

.navbar:hover {
    box-shadow: 0 0 5px #33CCFC;
}
nav {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.2s ease;
    width: 100%;
    
}
.navs {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.navs:hover {
    transform: scale(1.1);
}