body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom right , #403F44, #1e1b32);
    font-family: cursive;
    color: white ;
    height: 100vh;
    
}
.underline {
    text-decoration: underline;
    
}
.pfp {
    border-radius: 50%;
    padding: 10px;
    transition: all 1s ease;
}
.pfp:hover {
    transform: scale(1.1);
    border-radius: 15%;
}
.navbar {
    display: flex;
    margin: 0px auto;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(to bottom right , #403F44, #1e1b32);
    font-family: cursive;
    width: 600px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
    height: 40px;
}

.navbar:hover {
    box-shadow: 0 0 5px #33CCFC;
}

nav {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.2s ease;
    width: 100%;
    
}

.navs {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.navs:hover {
    transform: scale(1.1);
}

.name {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 11px;
}
a {
    color: white;
    text-decoration: none;
}
.main-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:10px;
    background: linear-gradient(to bottom right , #403F44, #1e1b32);
    border: 2px solid black;
    border-radius: 10px;
    margin:20px auto;
    width: 500px;
    height: 500px;
    transition: all 0.3s ease;
}
.main-box:hover {
    box-shadow: 0 0 5px #33CCFC;
}
.ind:hover {
     box-shadow: 0 0 5px #33CCFC;
}
.ind {
    background-color: snow;
    color: black;
    border: 2px solid black;
    width: 100px;
    padding:10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    
}
.other-btns {
    margin: 15px
}
.inside-xp-bar {
    background-color: #ffffff;
    width: 64%;
    border-radius: 30px 15px 15px 30px;
    padding: 15px;
    height: 10px;
    animation: slider 1s;
}

@keyframes slider {
    from { width: 0%; }
    to { width: 64% ;}
}



.xp-bar {
    margin: 15px auto;
    border-radius: 30px;    
    width: 400px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
}
.xp-bar:hover {
     box-shadow: 0 0 5px #33CCFC;
}